body {
  width: 1247px;
}

.wrapper {
  /* The image used */
  background-image: url("moose.jpg");

  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}


.wrapper2 {
  margin-bottom: 200px;
  background-image: url("stolenimage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

#title {
  font-family: roboto, sans-serif;
  font-size: 60pt;
  color: white;
  display: inline-block;
  font-weight: 300;
  text-shadow: 0px 0px 10px rgb(255, 255, 255, .3);
  float: right;
}

#landing {
  background-color: rgb(173, 216, 230, 0.9);
  padding-top: 300px;
  padding-bottom: 30px;
  padding-right: 20px;
}

.wide {
  display: block;
  margin-right: 30px;
}

.buffer {
  height: 20px;
  display: block;
}

#subtitle {
  font-family: roboto, sans-serif;
  font-size: 18pt;
  color: grey;
  font-weight: 400;
  text-transform: uppercase;
  float: right;
  margin-right: 25px;
}

.indent {
  margin-left: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



#todo {
  background-color: #454e71;
  font-family: roboto, sans-serif;
  color: white;
  display: block;
  margin-top: 100px;
}

.itinerary {
  margin-left: 100px;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
}

h2 {
  font-weight: 300;
  font-size: 24pt;
  text-transform: lowercase;
}

ol {
  list-style-type: upper-roman;

}

ol li::before {
  background-color: white;
  color: navy;
  border-radius: 30px;
  padding: 5px;
  margin-right: 10px;
  content: counter(inst);
  font-weight: 300;
  width: 30;
  opacity: 0.3;
}

li {
  font-weight: 100;
  counter-increment: inst;
  display: block;
  line-height: 30pt;
}

h1 {
  font-family: roboto, sans-serif;
  font-size: 36pt;
  color: rgb(173, 216, 230);
  text-transform: lowercase;
}

a, p {
  font-family: roboto, sans-serif;
  font-weight: 100;
  text-transform: none;
  font-style: normal;
  color: black;
}

.post {
  margin-top: 100px;
  background-color: white;
  width: 100%;
  padding-bottom: 50px;
  border-top: 3pt solid navy;
  border-bottom: 3pt solid navy;
  box-shadow: 0px 3px 5px rgb(0, 0, 0, .3);
}

.row {
  display: table;
  content: '';
  clear: both;
  margin-top: 25px;
  margin-bottom: 25px;
}

.column {
  float: left;
  width: 50%;
}



.text {
  padding: 15px;
  width: 75%;
  text-align: justify;
}

.texte {
  margin-left: 100px;
  width: 100%;
}

.image {
  overflow: hidden;
  max-width: inherit;
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-top: 25px;
}

.imagee {
  object-fit: contain;
  width: 200%;
  float: right;
  margin-top: 100px;
}

.largeimagee {
  width: 100%;
  float: right;
  object-fit: contain;
}

.quote {
  font-size: 18pt;
  color: grey;
  font-weight: 300;
  text-align: left;
}

.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.map {
  position: relative;
  left: 75px;
}

.post span {
  font-family: roboto;
  max-width: 200px;
  font-weight: 100;
  position: relative;
  left: 50px;
}
