html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: auto;
  color: navy;
  font-size: 12pt;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  background-color: rgb(173, 216, 230, 0.3);
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 5px;
}

#footer a {
  text-decoration: none;
}

.wrapper {
  /* The image used */
  background-image: url("moose.jpg");

  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  overflow-x: hidden;
}

.wide img {
  width: 105%;
  overflow: hidden;
  position: relative;
  bottom: 400px;
  z-index: 1;

}

#wrapper2 {
  transition: margin-top .5s;
  margin-bottom: 200px;
  background-image: url("stolenimage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow-x: hidden;
}

#title {
  font-family: "Roboto Slab", serif;
  font-size: 60pt;
  color: white;
  display: inline-block;
  font-weight: 300;
  float: right;
  transition: 2s ease;
}

#alpha {
  mask-mode: alpha;
}

#landing {
  background-color: rgb(173, 216, 230);
  padding-top: 200px;
  padding-bottom: 30px;
  padding-right: 20px;
  transition: 2s ease;
}



.wide {
  display: block;
  margin-right: 30px;
}

.buffer {
  height: 20px;
  display: block;
}

#subtitle {
  font-family: roboto, sans-serif;
  font-size: 16pt;
  color: navy;
  font-weight: 300;
  text-transform: uppercase;
  float: right;
  margin-right: 25px;
  transition: 2s ease;
}

.indent {
  margin-left: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#todo {
  background-color: #454e71;
  font-family: roboto, sans-serif;
  color: white;
  display: block;
  margin-top: 200px;
}

#todo .closebtn {
  position: absolute;
  top: 630px;
  right: 45px;
  transition: .75s ease;
  color: white;
  font-size: 30pt;
  opacity: 0;
  text-decoration: none;
}

#itinerary {
  margin-left: 100px;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 50px;
  height: 30px;
  overflow-y: hidden;
  transition: 1s ease;
}

h2 {
  font-weight: 300;
  font-size: 20pt;
  text-transform: lowercase;
  opacity: .8;
  transition: .3s;
  cursor: pointer;
}



h2:hover {
  font-size: 22pt;
  transition: .5s;
  opacity: 1;
}

ol {
  list-style-type: upper-roman;

}

ol li::before {
  background-color: white;
  color: navy;
  border-radius: 30px;
  padding: 5px;
  margin-right: 10px;
  content: counter(inst);
  font-weight: 300;
  width: 30;
  opacity: 0.3;
}

ol li {
  font-weight: 100;
  counter-increment: inst;
  display: block;
  line-height: 30pt;
}

ul {
  background-color: rgb(250, 250, 250, 0);
  position: relative;
  bottom: 200px;
  width: 100%;
  transition: .2s ease;
  z-index: 2;
}

ul:hover {
  background-color: rgb(250, 250, 250, 0.5);
  transition: .6s ease;
}


ul li {
  background-color: rgb(250, 250, 250, 0.6);
  font-family: "roboto", sans-serif;
  text-transform: lowercase;
  color: navy;
  display: inline-block;
  padding: 5px;
  border-radius: 5%;
  font-weight: 300;
  margin: 5px;
  transition: .2s ease;
}

ul li:hover {
  background-color: rgb(250, 250, 250);
  transform: scale(1.1);
  transition: .5s ease;
}

ul a {
  text-decoration: none;
  font-family: "roboto", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
  color: navy;
}

h1 {
  font-family: roboto, sans-serif;
  font-size: 36pt;
  color: rgb(173, 216, 230);
  text-transform: lowercase;
}

a, p {
  font-family: roboto, sans-serif;
  font-weight: 100;
  text-transform: none;
  font-style: normal;
  color: black;
}

.post {
  margin-top: 100px;
  background-color: white;
  width: 100%;
  padding-bottom: 50px;
  border-top: 3pt solid navy;
  border-bottom: 3pt solid navy;
  box-shadow: 0px 3px 5px rgb(0, 0, 0, .3);
}

.row {
  display: table;
  content: '';
  clear: both;
  margin-top: 25px;
  margin-bottom: 25px;
}

.column {
  float: left;
  width: 50%;
}



.text {
  padding: 15px;
  width: 75%;
  text-align: justify;
}

.texte {
  margin-left: 100px;
  width: 100%;
}

.image {
  overflow: hidden;
  max-width: inherit;
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-top: 25px;
}

.imagee {
  object-fit: contain;
  width: 200%;
  float: right;
  margin-top: 100px;
}

.largeimagee {
  width: 100%;
  float: right;
  object-fit: contain;
}

.quote {
  font-size: 18pt;
  color: grey;
  font-weight: 300;
  text-align: left;
}

.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.map {
  position: relative;
  left: 75px;
}

.post span {
  font-family: roboto;
  max-width: 200px;
  font-weight: 100;
  position: relative;
  left: 50px;
}

#overlay {
  background-color: rgb(173, 216, 230);
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  animation: "blueTrans" 2s ease;
}

@keyframes blueTrans {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }


}

@media screen and (max-width: 600px) {
  .column {
    width: 75%;
  }

  image {
    width: 50%;
  }
  .wrapper {
    width: 100%;
  }
  .wrapper2 {
    width: 100%;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  }
}
